@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* main nav styling */

nav{
    background-color: rgb(255, 255, 255);
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 5px;
    position: fixed;
    top: 0;
    height: 60px;
    margin-bottom: 10px;
    
}
.nav-item{
    font-family: montserrat;
    font-size: 15px;
    height: fit-content;
}

.nav-item>a{
    padding: 10px;
    text-decoration: none;
    color: rgb(119, 120, 121);
}
.nav-item>a:hover{
   color: rgb(54, 54, 193);
}

header{
    display: flex;
    height: 40px;
    align-items: center;
    width: 100%;
    background-color: rgb(255, 255, 255);
    justify-content: space-around;
    margin-top: 15px;
    margin-top: 40px;
    z-index: 2;
    position: fixed;
    top: 0;
    
}
.menu{
    width: 10%;
    display: flex;
    flex-direction: column;
    height: 30px;
    gap: 6px;
}
.menu-item{
    width: 25%;
    height: 50px;
    color: white;
    display: none;
}
.nav-link>a{
    font-family: montserrat;
    font-size: 15px;
    height: fit-content;
}
img{
    width: fit-content;
    
}
.nav-link>a{
    text-decoration: none;
    padding: 10px;
    font-size: 15px;
    color: rgb(119, 120, 121);
}
.nav-link>a:hover{
    color: rgb(54, 54, 193);
 }
 @media screen and (max-width:768px){
    nav{
        display: none;
        background-color:rgb(128, 0, 128) ;
        
    }

    
    header{
        width: 800px;
        display: flex;
        justify-content: space-between;
        height: 100px;
        padding: 10px;
    
    }

    header> .nav-link{
        display: flex;
    }

    .menu{
        /* display: block; */
        height: 20px;
        margin-bottom: 50px;
        
    }
    .menu-item{
        margin: 10px;
        background-color: rgb(0, 0, 255);
        height: 10px;
        width: 80%;
        /* display: block; */
    }

}
@media screen and (max-width:470px){
    nav{
        display: none;
        background-color:rgb(128, 0, 128) ;
        
    }

    header{
        width: 700px;
        display: flex;
        justify-content: space-between;
        height: 100px;
        padding: 10px;
    
    }

    header> .nav-link{
        display: flex;
    }

    .menu{
        /* display: block; */
        height: 20px;
        margin-bottom: 50px;
        
    }
    .menu-item{
        margin: 10px;
        background-color: rgb(0, 0, 255);
        height: 10px;
        width: 80%;
        /* display: block; */
    }
}

 /* contact styling */
 #contact{
    background-image: url(banner-2.jpg.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    margin-top: 100px;
    
 }
 .contact-container{
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 7%;
    display: flex;
 }
 .contact-item{
    
    width: 30%;
    height: fit-content;
    margin-top: 20px;
    transform:translateX(80px);
 }
 
 .contact-item p{
    
    line-height: 1.5;
   color:  rgb(119, 120, 121);

 }
 .contact-item h1{
    font-size: 40px;
 }
.contact-item>a{
text-decoration: none;
color: rgb(119, 120, 121);
}
/* Media query for max-width 1200px */
@media screen and (max-width: 1200px) {

    #contact{
        width: 1200px;
        margin-bottom: 100px;
        height: 400px;
    }
    .contact-container {
        width: 100%;
        display: flex;
    }
    .contact-item {
        width: 40%;
        height: 200px;
        text-align: center;
    }
    
    .contact-item p{
        font-size: 40px;
    }
   .contact-item h1{
    font-size: 40px;
    margin-top: -30px;
}
}
/* Media query for max-width 768px */
@media screen and (max-width: 768px) {

    #contact{
        width: 800px;
        margin-bottom: 100px;
        height: 300px;
    }
    .contact-container {
        width: 100%;
        flex-direction: column;
    }
    .contact-item {
        width: 60%;
        height: 200px;
        text-align: center;
        margin-top: -30px;
    }
    
    .contact-item p{
        font-size: 30px;
    }
   .contact-item h1{
    font-size: 40px;
    margin-top: 30px;
}
}
/* map section */
.map-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7%;
}
.map-item{
    width: 50%;
    height: 200px;
}
/* Media query for max-width 1200px  */
@media screen and (max-width: 1200px) {

    #map{
        width: 1200px;
        margin-bottom: 300px;
        height: 300px;
    }
    .map-container {
        width: 100%;
        display: flex;
    }
    .map-item {
        width: 60%;
        height: 200px;
        
    }
}
    /* Media query for max-width 768px  */
@media screen and (max-width: 768px) {

    #map{
        width: 800px;
        margin-bottom: 300px;
        height: 300px;
        margin-top: -30px;
    }
    .map-container {
        width: 100%;
        display: flex;
    }
    .map-item {
        width: 100%;
        height: 200px;
    }
}
/* touch section */
.touch-container{
    width: 100%;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}
.touch-item{
    width: 40%;
    height: 400px;
    
}
textarea{
    border-color: rgb(228, 233, 233);
    padding: 3%;
    width: 100%;
    height: 45%;
    margin-top: 5px;
    border-radius: 5px;
   
   
}
  .touch-item input{
    border-radius: 5px;
    margin-top: 30px;
    width: 225px;

 }
#subject{

    width: 450px;
    margin-top: 30px;
}
.touch-item .btt {
    margin-top: 30px;
    padding: 15px;
    border-radius: 5px;
    border: none;
    background-color: rgb(0, 102, 255);
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.touch-item .btt:hover {
    background-color: rgb(167, 0, 179);
}
.touch-item p{
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: black;
}
.touch-item i{
    color: rgb(123, 120, 120);
}
.touch-item span{
    text-align: center;
    color: gray;
    font-size: 13px;
    display: flex;
    flex-direction: column;
}
.touch-item a{
    text-decoration: none;
    color: black;
}
.touch-item a:hover{
    color: blueviolet;
}
/* Media query for max-width 1200px  */
@media screen and (max-width: 1200px){
    #touch{
        width: 1200px;
    }
    .touch-container{
        width: 100%;
        display: flex;
    }
    .touch-item{
        width: 100%;
    }
}
/* Media query for max-width 768px  */
@media screen and (max-width: 768px){
    #touch{
        width: 800px;
    }
    .touch-container{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .touch-item{
        width: 100%;
    }
}
.touch-item span{
    display: block;
    text-align: center;
    margin-top: 5px;
}

/* logo styling  */
#logo{
    background-color: rgb(247,247,247);
}
.logo-container{
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 5%;
    gap: 40px;
}
.logo-item{
    width: 12%;
    height: fit-content;
}

/* Media query for max-width 1200px */
@media screen and (max-width: 1200px) {
    #logo{
        width: 1200px;
        height: fit-content; 
    }
    .logo-container {
        width: 100%;
        display: flex;
    }
    }
    .logo-item{
        width: 20%;
    }
    /* Media query for max-width 768px */
@media screen and (max-width: 768px) {
    #logo{
        width: 800px;
    }
    .logo-container{
        width: 100%;
        flex-direction: column;

    }
    .logo-item{
        width: 60%;
        text-align: center;
    }
    .logo p{
        margin-top: 90px;
        line-height: 1.5;
    }
}

/* footer styling */

.cont-container{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 5%;
    gap: 15px;
    background-color: rgb(51, 51, 51);
}
.cont-item{
    width: 15%;
    height: 280px;
}
.cont-item h1{
    color: #99ccff;;
    font-size: 17px;
    line-height: 2;
}
.cont-item p{
    font-size: 15px;
    color:  rgb(163, 164, 164);
    line-height: 2;
}
.cont-item p:hover{
    color: rgb(167, 0, 179);;
}
form {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
input{
    text-align: center;
    width: 200px;
    padding: 10px;
    height: 40px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    
}
button {
    padding: 14px;
    border: none;
    background-color: rgb(0, 102, 255);
    color: rgb(255, 255, 255);
    cursor: pointer;
}
button:hover {
    background-color: rgb(167, 0, 179);
}
/* Media query for max-width 1200px */
@media screen and (max-width: 1200px) {

    .cont{
        width: 1200px;
    }
    .cont-container {
        width: 100%;
        display: flex;
    }
    .cont-item {
        width: 100%;
    }
}
/* Media query for max-width 768px */
@media screen and (max-width: 768px) {

    .cont{
        width: 800px;
    }
    .cont-container {
        width: 100%;
       flex-direction: column;
    }
    .cont-item {
        width: 100%;
        height: 200px;
    }
    .cont-item h1,p{
        align-items: center;
        justify-content: center;
        display: flex;
        font-size: 25px;
    }
}